<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto.png" class="img-fluid" id="foto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h4 id="nombre"> {{persona.nombre}} {{persona.apellido}} </h4>
        <p id="Full">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Originalmente profesora en matemática. La destreza en resolución de problemas, el trabajo en grupo y la facultad para las tecnologías, me encaminaron a la programación. Actualmente soy  
               Full Stack Developer Jr, con conocimientos en Javascript, Angular, MySQL, GitHub y React. Capaz de autogestión. Buenas habilidades de colaboración dentro de un equipo productivo.</p>
        </span>
    </div>
</div>

