<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .rounded-t-5 {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
    .btn{
          color: #709cc7;
          --bs-btn-bg: aliceblue;
    }
    .btn-outline_ligh{
      --bs-btn-color:#7091b3;
      --bs-btn-border-color:#41b720;
      --bs-btn-bg: aliceblue;
    }

    @media (min-width: 992px) {
      .rounded-tr-lg-0 {
        border-top-right-radius: 0;
      }

      .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
      }
      .btn{
          color: #709cc7;
          --bs-btn-bg: aliceblue;
    }
       .btn-outline_ligh{
      --bs-btn-color:#7091b3;
      --bs-btn-border-color:#41b720;
      --bs-btn-bg: aliceblue;
    }
    }
  </style>
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img
          src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg"
          alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"
        />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
          <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                type="email"
                id="nombreUsuario"
                name="nombreUsuario"
                class="form-control"
                [(ngModel)]="nombreUsuario"
                required
              />
              <label class="form-label" for="usuario">Usuario </label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                [(ngModel)]="password"
                required
              />
              <label class="form-label" for="password">Password</label>
            </div>

            <button class="btn btn-outline-light btn-lg px-5" type="submit">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
